<!DOCTYPE html>

<html>
  <!-- <script type="text/javascript" src="CollapsibleLists.js"></script>  -->

<head>
  <title>ActiveAdminNestedSet</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="head">
  <b>Multikategorizácia dokumentov</b>
  <a id="admin_button" href="/admin">Admin</a>
</div>
<div id="tree_view" >
  <div class="header">
        <h2>Kategórie</h2>
  </div>
    <ul class="collapsibleList">
        <b><%= link_to 'Všetky dokumenty', :controller => 'documents',
              :action => 'index', :id => nil %></b>
        <%= render :partial => 'categories/category',
               :collection => Category.find_all_by_parent_id(nil) %>
    </ul>
</div>

<div id="placeholder" >
    <%= yield %>
</div>

</body>
</html>
